body {
  font-family: sans-serif;
  margin: 2rem;
  background: #f9f9f9;
}

form input,
form button {
  margin: 0.3rem;
  padding: 0.5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #21da80;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #555;
}

a {
  color: black;
  text-decoration: none;
}

.select-verde {
  background-color: #4CAF50;
  /* Verde */
  color: white;
  padding: 10px 14px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  appearance: none;
  /* Elimina estilos nativos en algunos navegadores */
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

.select-verde:focus {
  outline: none;
  box-shadow: 0 0 0 2px #81c784;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #21da80;
  color: white;
}

table tr:hover {
  background-color: #f1f1f1;
}

button:hover {
  background-color: #3ca56f; /* un verde más oscuro o diferente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
  box-sizing: border-box;
}

select {
  background-color: white;
  appearance: none; /* Oculta la flecha nativa en algunos navegadores */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><polygon points="0,0 10,0 5,5" fill="%23666"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 10px;
  padding-right: 30px;

}